.navbar-expand-md
{
	background-color: #08526d;
	color:#ec1c23;
}
.panel-heading
{
	font-size:28px;
	color:#ec1c23;
}
.menuthumb
{
  width:150px
}
.panel-default h1
{
	color:#08526d;
}

.form-group input,
.form-group  textarea,
.form-group  select
{
	border:1px solid #08526d;
}

.form-group  textarea
{
	height:200px;
	resize:none;
}
.form-group .btn-primary
{
	margin-top:30px
}